.user-preview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.profile-picture {
    display: flex;
    justify-content: center;
    height: 50%;
    min-height: 5rem;
}

.profile-picture img {
    height: 100%;
    border-radius: 50rem;
}

.user-name {
    font-size: 1.8rem;
    font-weight: 800;
}