.item-create {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 75rem;
    height: 100%;
    border-radius: 2rem;
    padding: 2rem;
    background-color: var(--white);
}

.form-title {
    font-size: 2.2rem;
    font-weight: 700;
    color: var(--brown-dark);
}

.item-create-form {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    max-width: 40rem;
    background-color: var(--grey-light);
    padding: 1rem;
    margin: 3rem 0;
    border-radius: .5rem;
}


.item-create-form label {
    font-weight: 700;
}

.item-create-form input, .item-create-form select, .item-create-form textarea {
    font-family: var(--font-primary);
    background-color: var(--white);
    width: 25rem;
    padding: .5rem;
    border-style: none;
    border-radius: .25rem;
}

.item-create-form select {
    text-transform: capitalize;
}

.item-create-form textarea {
    min-height: 10rem;
    max-height: 15rem;
    min-width: 25rem;
    max-width: 25rem;
}