.product {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50% 1fr max-content;
    grid-template-areas: "img img"
        "name name"
        "price stock";
    background-color: rgb(212, 212, 212);
    width: 150px;
    height: 200px;
    border-radius: 10px;
    padding: 8px;
    font-size: 1.4rem;
    text-align: center;
}

.product__name {
    grid-area: name;
    display: flex;
    justify-content: center;
    align-self: center;
    font-weight: 700;
}

.product__price {
    grid-area: price;
    font-weight: 600;
}

.product__stock {
    grid-area: stock;
    font-weight: 600;
}

.product__img {
    grid-area: img;
    display: flex;
    justify-content: center;
    padding: .5rem;
}

.product__img img {
    max-height: 100%;
}