.category-create-form {
    display: flex;
    flex-direction: column;
    align-categorys: start;
    gap: 1rem;
    max-width: 40rem;
    background-color: var(--white);
    padding: 1rem;
    margin: 3rem auto;
    border-radius: .5rem;
}

.category-create-form label {
    font-weight: 700;
}

.category-create-form input {
    font-family: var(--font-primary);
    background-color: var(--grey-light);
    width: 25rem;
    padding: .5rem;
    border-style: none;
    border-radius: .25rem;
}

.category-create-form input[type=submit]:hover {
    transform: translateY(-1px);

}

.category-create-form input[type=submit]:active {
    transform: translateY(-0px);
    filter: brightness(.9);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, .2);

}